body {
	background: url(../images/background.gif) top center repeat-x #CFDEEA;
	margin: 0px;
	padding: 16px 0;
	font: 11px "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", verdana, arial, helvetica;
	color: #282828;
	text-align: center;
	line-height: 1.5em;
}
p{
font-size:11px;
text-indent:0.2cm;
text-align:justify;
line-height:16px;
}
.table_left{
float:left;
margin:0 8px 8px 8px;
}
.hrq{
style="border:0;
background-color:#0099FF;
height:1px;
}
.hrq1{
style="border:0;
background-color:#F1EE14;
height:1px;
}
.box{
width:400px;
height:120px;
}
.box1{
width:60px;
height:15px;
}
img {
	border-style: none;
}
img.pic_left{
float:left;
padding:5px;
margin:0 8px 8px 8px;
border:1px  #CCCCCC solid;
}
img.pic_left1{
float: left;
padding:0px;
margin:50 0px 0px 0px;
}
a {
	color: #2E9FED;
	text-decoration: none;
}
a:hover {
	color: #1471B1;
}
#welcome h1{
padding:5px 0 0 20px;
margin:0px;
font-weight:bold;
font-size:14px;
color:#FFFFFF;
}
h2{
font-size:13px;
color: #003366;
}
h3{
font-size:14px;
color: #003366;
}
h4{
font-size:13px;
padding:2px;
margin:0px;
color: #003366;
border-bottom:1px #999999 dashed;
}
h5{
font-size:12px;
color: #F00;
font-weight:bold;
}
h6{
margin : 10px 0px 10px 0px;
font-size:11px;
color: #930;
font-weight:bold;
}
.h7{
font-size:9px;
color: #003366;
padding:5px 0 0 20px;
}

.input1{
height: 30px;
width: 70px;
padding:0px 0 0 0px;
margin:0px;
}
#container {
	position: relative;
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
}
#headercontainer {
	position: relative;
	float:left;
	float:top;
	width: 450px;
	height: 120px;
	margin: 0 auto;
	padding: 0px;
	text-align: left;
	background: url(../images/weblogo.jpg) no-repeat;
	background-size:100%115%;
}

#description {
	position: absolute;
	left:450px;
	top:120px;
	font-size: 16px;
}

#description_2 {
	position: absolute;
	left:850px;
	top:40px;
	font-size: 16px;
}

#browse_p{
	font-size:18px;
	padding:3px;
}
#head {
	width: 1000px;
	height: 32px;
}
#head h1 {
	position: absolute;
	margin: 15px 0 0 12px;
	width: 200px;
	height: 75px;
	background: url(../images/) no-repeat;
}

#menu {
	position: absolute;
	width: 1000px;
	top: 15px;
	left: 20px;
	margin: 0px;
	padding: 0px;
	z-index: 100;
}
#menu li {
	list-style-type: none;
	float: left;
	margin: 0 8px;
	height: 22px;
}
#menu li a {
	padding: 0 0 7px 0;
	height: 22px;
	color: #8A8A8A;
}
#menu li a:hover {
color:#000033;
}
#menu .current {
color:#000033;
}
#area {
	width: 1000px;
	height: 34px;
}

#main {
	margin: auto;
	width: 1000px;
	height: auto;
}

#main1 {
	margin: auto;
	background: url(../images/bg_main_R.gif) repeat-y;
	width: 1000px;
	height: auto;
}

#content_left {
float:left;
padding:0 10px 10px 10px;
width: 700px;
height:auto;
background-color: #ccd7da17;
}

#main_content {
padding:0 10px 10px 10px;
margin: 20px 50px 50px 50px;
width: 700px;
height:500px;
background: url(../images/main_all.jpg) no-repeat;
background-size:80%100% ;
}

.title {
    clear: both;
    padding-bottom: 30px;
    margin-bottom: 15px;
    color: #000000;
    font: normal 22px verdana,arial,sans-serif;
    letter-spacing: 1px;
}

.query {
  border: 2px #409f89 solid;
  padding:20px;
  margin: 20px 0 10px 7px;
  border-radius: 4px;
	width:590px;
}
legend {
    color: #409f89;
}

#query {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
    line-height: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000000;
}
#content_right{
background-color: #f5f5f5;
float:left;
padding:5px;
width: 250px;
height:auto;
}

#content_right p{
text-align:left;
text-indent:0;
}
#download_extend{
float:left;
padding:0 30px 30px 30px;
width: 645px;
height:auto;
}

#welcome {
background-position:12px 0px;
padding:10px;
width: 1000px;
height:80px;
}
.item_box{
width:auto;
height:auto;
padding:10px 0 5px 0;
border-bottom:1px #666666 dashed;
}
.item_box1{
width:auto;
height:auto;
padding:10px 0px 0px 90px;
border-bottom:1px #666666;
}
.spacer{
width:auto; height:2px; clear:both; padding-bottom:2px;}
/*---------contact----------*/
#form {
	padding: 0px;
	margin: 0px;
}
#fields label {
	width: 260px;
	display: block;
	padding: 0px;
}
#fields input {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0;
	width: 260px;
}
#fields textarea {
	border: 1px solid #C8D2D9;
	margin: 0 0 3px 0
	width: 260px;
	height: 63px;
}
#send input {
	width: 64px;
	height: 20px;
	margin: 0px;
}
ul {
	margin: 0 0 20px 0;
	padding: 0px;
	list-style-type: none;
}
.contact_info{
float:left;
padding:15px;
}

/*work------------*/
.project_details{
float:left;
width:200px;
color:#0099FF;
padding:10px 0 0 0px;
}
.hr_details{
float:left;
width:200px;
padding:10px 0 0 10px;
}
#footer {
text-align:center;
font-size:15px;
color:#000033;
background-position:0px 0px;
padding-top:10px;
width: 1000px;
height:85px;
}
#footer a {
	background: none;
	padding: 0px;

}
#madeby{
width:200px;
height:85px;
float:right;
padding-right:30px;
text-align:center;
}
#madeby a{
text-decoration:none;
color:#666666;
}
.style1{
font-size:9px;
color: #0033FF;
}
.style2{
font-weight:bold;
font-size:13px;
color: #003366;
}
.style3{
font-size:10px;
color: #003366;
}
.table1 {
padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px;
}




.animate, .btn, .btn-border-o:before, .btn-border-o:after, .btn-border:before, .btn-border:after, .btn-border-rev-o:before, .btn-border-rev-o:after, .btn-border-rev:before, .btn-border-rev:after, .btn-fill-vert-o:before, .btn-fill-vert-o:after, .btn-fill-vert:before, .btn-fill-vert:after, .btn-fill-horz-o:before, .btn-fill-horz-o:after, .btn-fill-horz:before, .btn-fill-horz:after {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
	font-family: "Raleway", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn-fill-vert {
  background-color: #2ecc71;
  border: 1px solid #e5e5e5;
  color: #282828;
  overflow: hidden;
}
.btn-fill-vert:before, .btn-fill-vert:after {
  content: '';
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
.btn-fill-vert:before {
  top: 50%;
}
.btn-fill-vert:after {
  bottom: 50%;
}
.btn-fill-vert:hover {
  color: #fff;
}
.btn-fill-vert:hover:before, .btn-fill-vert:hover:after {
  height: 50%;
  opacity: 1;
}
.btn-fill-vert.btn-green:before, .btn-fill-vert.btn-green:after {
  background-color: #2ecc71;
}
.btn-fill-vert.btn-green:hover {
  border-color: #2ecc71;
}
.btn-fill-vert.btn-blue:before, .btn-fill-vert.btn-blue:after {
  background-color: #3498db;
}
.btn-fill-vert.btn-blue:hover {
  border-color: #3498db;
}
.btn-fill-vert.btn-purple:before, .btn-fill-vert.btn-purple:after {
  background-color: #9b59b6;
}
.btn-fill-vert.btn-purple:hover {
  border-color: #9b59b6;
}
.btn-fill-vert.btn-navy:before, .btn-fill-vert.btn-navy:after {
  background-color: #34495e;
}
.btn-fill-vert.btn-navy:hover {
  border-color: #34495e;
}
.btn-fill-vert.btn-orange:before, .btn-fill-vert.btn-orange:after {
  background-color: #e67e22;
}
.btn-fill-vert.btn-orange:hover {
  border-color: #e67e22;
}
.btn-fill-vert.btn-red:before, .btn-fill-vert.btn-red:after {
  background-color: #e74c3c;
}
.btn-fill-vert.btn-red:hover {
  border-color: #e74c3c;
}



/* Table Head */
#table-5 thead th {
background-color: #409f89;
color: #fff;
border-bottom-width: 0;
}

/* Column Style */
#table-5 td {
color: #000;
}
/* Heading and Column Style */
#table-5 tr, #table-5 th {
border-width: 1px;
border-style: solid;
border-color: #409f89;
}

/* Padding and font style */
#table-5 td, #table-5 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
font-weight: bold;
}
